<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.system.persistence.UserMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.system.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="img_file_address" jdbcType="VARCHAR" property="ImgFileAddress" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <sql id="BaseColumns">
    id,user_name,`password`, real_name, sex, birthday, phone, email,dept_id, `status`, `type`,image, img_file_address, create_date, update_date, operator, remark
  </sql>

  <select id="getByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="BaseColumns"/>
    from sys_user where user_name = #{userName} limit 1;
  </select>

   <!-- 带条件查询用户列表 -->
  <select id="getByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="BaseColumns"/>
    FROM
    sys_user
    <where>
      <if test="userName !=null and userName!=''">
        AND user_name LIKE CONCAT(CONCAT('%',#{userName},'%'))
      </if>
      <if test="sex !=null and sex!=0">
        AND sex =#{sex}
      </if>
      <if test="phone !=null and phone!=''">
        AND phone =#{phone}
      </if>
      <if test="deptId !=null and deptId!=0">
        AND  dept_id =#{deptId}
      </if>
      <if test="status !=null and status!=0">
        AND status =#{status}
      </if>
      <if test="type !=null and type!=0">
        AND `type` =#{type}
      </if>
    </where>
  </select>

</mapper>