<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.servicepermit.persistence.ServiceUsedMapper">

	<resultMap id="BaseResultMap" type="com.bdxh.servicepermit.entity.ServiceUsed">
	  <id column="id" jdbcType="BIGINT" property="id"/>
	  <result column="order_no" jdbcType="BIGINT" property="orderNo"/>
	  <result column="product_id" jdbcType="BIGINT" property="productId"/>
	  <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
	  <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
	  <result column="family_id" jdbcType="BIGINT" property="familyId"/>
	  <result column="card_number" jdbcType="BIGINT" property="cardNumber"/>
	  <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
	  <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
	  <result column="status" jdbcType="TINYINT" property="status"/>
	  <result column="type" jdbcType="TINYINT" property="type"/>
	  <result column="remark" jdbcType="VARCHAR" property="remark"/>
	  <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
	  <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
	</resultMap>

	<sql id="BaseColumns">
	  id,order_no,product_id,school_id,school_code,family_id,card_number,start_time,end_time,status,type,remark,create_date,update_date
	</sql>
	<select id="getServiceUsedAllCount" resultType="Integer">
	  SELECT 
	   COUNT(1)
	  FROM t_service_used 
	</select>

	<delete id="delServiceUsedInIds" parameterType="Integer">
	  DELETE
	   FROM t_service_used
	  WHERE
	   id IN
	     <foreach collection = "ids" item = "id" separator = "," open = "(" close = ")" >
	          #{id, jdbcType = BIGINT}
	     </foreach >
	</delete>

</mapper>
