<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.backend.persistence.SchoolBaseConfigMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.backend.entity.SchoolBaseConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="school_code" jdbcType="VARCHAR" property="schoolCode" />
    <result column="http_url" jdbcType="VARCHAR" property="httpUrl" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="secret" jdbcType="VARCHAR" property="secret" />
    <result column="cver" jdbcType="VARCHAR" property="cver" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <select id="getBaseConfig" parameterType="java.lang.String" resultMap="BaseResultMap">

	select id as id,school_code as schoolCode, http_url as httpUrl, app_id as appId, secret as secret, cver as cver, type as type, remark as remark from t_school_base_config where school_code=#{schoolCode}

	</select>



</mapper>