<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.order.persistence.OrderMapper">
    <resultMap id="BaseResultMap" type="com.bdxh.order.entity.Order">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="order_no" jdbcType="BIGINT" property="OrderNo"/>
        <result column="third_order_no" jdbcType="VARCHAR" property="ThirdOrderNo"/>
        <result column="school_id" jdbcType="BIGINT" property="SchoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="SchoolCode"/>
        <result column="school_name" jdbcType="VARCHAR" property="SchoolName"/>
        <result column="user_id" jdbcType="BIGINT" property="UserId"/>
        <result column="card_number" jdbcType="VARCHAR" property="CardNumber"/>
        <result column="user_name" jdbcType="VARCHAR" property="UserName"/>
        <result column="user_type" jdbcType="TINYINT" property="UserType"/>
        <result column="open_id" jdbcType="VARCHAR" property="OpenId"/>
        <result column="total_money" jdbcType="DECIMAL" property="TotalMoney"/>
        <result column="order_money" jdbcType="DECIMAL" property="OrderMoney"/>
        <result column="pay_money" jdbcType="DECIMAL" property="PayMoney"/>
        <result column="trade_status" jdbcType="TINYINT" property="TradeStatus"/>
        <result column="pay_status" jdbcType="TINYINT" property="PayStatus"/>
        <result column="business_status" jdbcType="TINYINT" property="BusinessStatus"/>
        <result column="business_type" jdbcType="TINYINT" property="BusinessType"/>
        <result column="pay_type" jdbcType="TINYINT" property="PayType"/>
        <result column="trade_type" jdbcType="TINYINT" property="TradeType"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="PayTime"/>
        <result column="pay_end_time" jdbcType="TIMESTAMP" property="PayEndTime"/>
        <result column="product_id" jdbcType="VARCHAR" property="ProductId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="CreateDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="UpdateDate"/>
        <result column="operator" jdbcType="BIGINT" property="Operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="OperatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="Remark"/>
    </resultMap>

    <sql id="BaseColumns">
	order_no,third_order_no,school_id,school_code,school_name,user_id,card_number,user_name,user_type,open_id,total_money,order_money,pay_money,trade_status,pay_status,business_status,business_type,pay_type,trade_type,pay_time,pay_end_time,product_id,create_date,update_date,operator,operator_name,remark
	</sql>

    <select id="getOrderByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_order
        <where>
            <if test="OrderNo!=null">
                AND order_no=#{OrderNo}
            </if>
            <if test="SchoolCode!=null and SchoolCode!=''">
                AND school_code=#{SchoolCode}
            </if>
            <if test="UserId!=null">
                AND user_id=#{UserId}
            </if>
            <if test="CardNumber!=null and CardNumber!=''">
                AND card_number LIKE CONCAT(CONCAT('%',#{CardNumber},'%'))
            </if>
        </where>
        ORDER BY create_date DESC
    </select>


<!--    <select id="getOrderByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="BaseColumns"/>
        from t_order
        <where>
            <if test="OrderNo!=null and OrderNo!=''">
                AND order_no =#{OrderNo}
            </if>
            <if test="SchoolCode!=null and SchoolCode!=''">
                 AND school_code = #{SchoolCode}
            </if>
            <if test="UserId!=null">
                AND user_id= #{UserId}
            </if>
            <if test="CardNumber!=null and CardNumber!=''">
                AND card_number LIKE CONCAT(CONCAT('%',#{CardNumber}),'%')
            </if>
        </where>
        order by create_date desc
    </select>-->

    <delete id="deleteByOrderId" parameterType="java.util.Map">
		delete  from t_order where school_code=#{SchoolCode} and user_id=#{UserId} and order_no=#{OrderNo}
	</delete>


<!--
    <update id="updateOrder">
        UPDATE t_order
        SET
        <if test="totalMoney!=null and totalMoney!=''">
            total_money= #{totalMoney},
        </if>
        <if test="orderMoney!=null and orderMoney!=''">
            order_money= #{orderMoney},
        </if>
        <if test="payMoney!=null and payMoney!=''">
            pay_money= #{payMoney},
        </if>
        <if test="tradeStatus!=null and tradeStatus!=''">
            trade_status= #{tradeStatus},
        </if>
        <if test="payStatus!=null and payStatus!=''">
            pay_status= #{payStatus},
        </if>
        <if test="businessStatus!=null and businessStatus!=''">
            business_status= #{businessStatus},
        </if>
        <if test="businessType!=null and businessType!=''">
            business_type= #{businessType},
        </if>
        <if test="payType!=null and payType!=''">
            pay_type= #{payType},
        </if>
        <if test="tradeType!=null and tradeType!=''">
            trade_type= #{tradeType},
        </if>
        <if test="remark!=null and remark!=''">
            remark= #{remark},
        </if>
        update_date= #{updateDate}
        WHERE
        school_code=#{schoolCode} and user_id=#{userId} and order_no=#{orderNo} ;
    </update>-->

</mapper>