<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.user.persistence.BaseUserMapper">

	<resultMap id="BaseResultMap" type="com.bdxh.user.entity.BaseUser">
	 <id column="id" jdbcType="BIGINT" property="id"/>
	 <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
	 <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
	 <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
	 <result column="user_type" jdbcType="TINYINT" property="userType"/>
	 <result column="user_id" jdbcType="BIGINT" property="userId"/>
	 <result column="name" jdbcType="VARCHAR" property="name"/>
	 <result column="gender" jdbcType="TINYINT" property="gender"/>
	 <result column="birth" jdbcType="CHAR" property="birth"/>
	 <result column="phone" jdbcType="VARCHAR" property="phone"/>
	 <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
	 <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
	 <result column="qq_number" jdbcType="VARCHAR" property="qqNumber"/>
	 <result column="wx_number" jdbcType="VARCHAR" property="wxNumber"/>
	 <result column="email" jdbcType="VARCHAR" property="email"/>
	 <result column="image" jdbcType="VARCHAR" property="image"/>
	 <result column="image_name" jdbcType="VARCHAR" property="imageName"/>
	 <result column="nation_name" jdbcType="VARCHAR" property="nationName"/>
	 <result column="adress" jdbcType="VARCHAR" property="adress"/>
	 <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
	 <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
	 <result column="operator" jdbcType="BIGINT" property="operator"/>
	 <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
	 <result column="remark" jdbcType="VARCHAR" property="remark"/>
	</resultMap>

	<sql id="BaseColumns">
	  id,school_id,school_code,school_name,user_type,user_id,name,gender,birth,phone,card_number,idcard,qq_number,wx_number,email,image,image_name,nation_name,adress,create_date,update_date,operator,operator_name,remark
	</sql>

	<select id="getBaseUserAllCount" resultType="java.lang.Integer">
	  SELECT 
	  COUNT(1)
	  FROM t_base_user 
	</select>

	<delete id="delBaseUserInIds" parameterType="java.lang.Integer">
	  DELETE
	  FROM t_base_user
	  WHERE
	  id IN
	  <foreach collection = "ids" item = "id" separator = "," open = "(" close = ")" >
	    #{id, jdbcType = BIGINT}
	  </foreach >
	</delete>

	<!--查询所有用户 -->
	<select id="queryBaseUserInfo" resultMap="BaseResultMap">
		select <include refid="BaseColumns"/> from t_base_user
		<where>
		<if test="baseUserQueryDto.id>0">
			AND school_id=#{baseUserQueryDto.schoolId}
		</if>
		<if test="baseUserQueryDto.schoolCode!=null and baseUserQueryDto.schoolCode!=''">
			AND school_code =#{baseUserQueryDto.schoolCode}
		</if>
		<if test="baseUserQueryDto.schoolName!=null and baseUserQueryDto.schoolName!=''">
			AND school_name =#{baseUserQueryDto.schoolName}
		</if>
		<if test="baseUserQueryDto.userType>0">
			AND user_type =#{baseUserQueryDto.userType}
		</if>
		<if test="baseUserQueryDto.userId>0">
			AND user_id =#{baseUserQueryDto.userId}
		</if>
		<if test="baseUserQueryDto.name!=null and baseUserQueryDto.name!=''">
			AND name =#{baseUserQueryDto.name}
		</if>
		<if test="baseUserQueryDto.gender>0">
			AND gender =#{baseUserQueryDto.gender}
		</if>
		<if test="baseUserQueryDto.cardNumber!=null and baseUserQueryDto.cardNumber!=''">
			AND card_number =#{baseUserQueryDto.cardNumber}
		</if>
		<if test="baseUserQueryDto.phone!=null and baseUserQueryDto.phone!=''">
			AND phone =#{baseUserQueryDto.phone}
		</if>
		</where>
	</select>

	<!--修改用户-->
	<update id="updateBaseUserInfo">
		UPDATE t_base_user
		SET
		 <if test="updateBaseUserDto.id>0">
			 id= #{updateBaseUserDto.id},
		 </if>
		<if test="updateBaseUserDto.schoolId>0">
			school_id= #{updateBaseUserDto.schoolId},
		</if>
		<if test="updateBaseUserDto.schoolCode!=null and updateBaseUserDto.schoolCode!=''">
			school_code= #{updateBaseUserDto.schoolCode},
		</if>
		<if test="updateBaseUserDto.schoolName!=null and updateBaseUserDto.schoolName!=''">
			school_name= #{updateBaseUserDto.schoolName},
		</if>
		<if test="updateBaseUserDto.userType>0">
			user_type= #{updateBaseUserDto.userType},
		</if>
		<if test="updateBaseUserDto.userId>0">
			user_id= #{updateBaseUserDto.userId},
		</if>
		<if test="updateBaseUserDto.name!=null and updateBaseUserDto.name!=''">
			name= #{updateBaseUserDto.name},
		</if>
		<if test="updateBaseUserDto.gender>0">
			gender= #{updateBaseUserDto.gender},
		</if>
		<if test="updateBaseUserDto.birth!=null and updateBaseUserDto.birth!=''">
			birth= #{updateBaseUserDto.birth},
		</if>
		<if test="updateBaseUserDto.phone!=null and updateBaseUserDto.phone!=''">
			phone= #{updateBaseUserDto.phone},
		</if>
		<if test="updateBaseUserDto.cardNumber!=null and updateBaseUserDto.cardNumber!=''">
			card_number= #{updateBaseUserDto.cardNumber},
		</if>
		<if test="updateBaseUserDto.idcard!=null and updateBaseUserDto.idcard!=''">
			idcard= #{updateBaseUserDto.idcard},
		</if>
		<if test="updateBaseUserDto.qqNumber!=null and updateBaseUserDto.qqNumber!=''">
			qq_number= #{updateBaseUserDto.qqNumber},
		</if>
		<if test="updateBaseUserDto.wxNumber!=null and updateBaseUserDto.wxNumber!=''">
			wx_number= #{updateBaseUserDto.wxNumber},
		</if>
		<if test="updateBaseUserDto.email!=null and updateBaseUserDto.email!=''">
			email= #{updateBaseUserDto.email},
		</if>
		<if test="updateBaseUserDto.image!=null and updateBaseUserDto.image!=''">
			image= #{updateBaseUserDto.image},
		</if>
		<if test="updateBaseUserDto.imageName!=null and updateBaseUserDto.imageName!=''">
			image_name= #{updateBaseUserDto.imageName},
		</if>
		<if test="updateBaseUserDto.nationName!=null and updateBaseUserDto.nationName!=''">
			nation_name= #{updateBaseUserDto.nationName},
		</if>
		<if test="updateBaseUserDto.adress!=null and updateBaseUserDto.adress!=''">
			adress= #{updateBaseUserDto.adress},
		</if>
		<if test="updateBaseUserDto.createDate!=null and updateBaseUserDto.createDate!=''">
			create_date= #{updateBaseUserDto.createDate},
		</if>

		<if test="updateBaseUserDto.operator!=null and updateBaseUserDto.operator!=''">
			operator= #{updateBaseUserDto.operator},
		</if>
		<if test="updateBaseUserDto.operatorName!=null and updateBaseUserDto.operatorName!=''">
			operator_name= #{updateBaseUserDto.operatorName},
		</if>
		update_date= #{updateBaseUserDto.updateDate}
		WHERE
		school_code=#{updateBaseUserDto.schoolCode} and card_number=#{updateBaseUserDto.cardNumber};
	</update>

	<!--删除用户信息-->
	<delete id="deleteBaseUserInfo" >
		delete  from t_base_user where school_code=#{schoolCode} and card_number=#{cardNumber}
	</delete>

	<!--查询单个用户-->
	<select id="queryBaseUserBySchoolCodeAndCardNumber" resultMap="BaseResultMap">
		select <include refid="BaseColumns" /> from t_base_user
		where school_code=#{schoolCode} and card_number=#{cardNumber}
	</select>
</mapper>
