<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.user.persistence.FamilyMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.user.entity.Family">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="school_id" jdbcType="BIGINT" property="schoolId" />
    <result column="school_code" jdbcType="VARCHAR" property="schoolCode" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="birth" jdbcType="CHAR" property="birth" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="qq_number" jdbcType="VARCHAR" property="qqNumber" />
    <result column="wx_number" jdbcType="VARCHAR" property="wxNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="nation_name" jdbcType="VARCHAR" property="nationName" />
    <result column="adress" jdbcType="VARCHAR" property="adress" />
    <result column="physical_number" jdbcType="VARCHAR" property="physicalNumber" />
    <result column="physical_chip_number" jdbcType="VARCHAR" property="physicalChipNumber" />
    <result column="activate" jdbcType="TINYINT" property="activate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

<!-- 根据条件查询出家长信息展示页数据 -->
  <select id="getByFamily" resultType="com.bdxh.user.vo.FamilyVo" parameterType="com.bdxh.user.dto.FamilyQueryDto">
    SELECT
    f.id ,
    f.`name` AS fName,
    f.gender AS fGender,
    f.phone ,
    f.image ,
    f.birth ,
    s.`name` AS sName,
    s.gender AS sGender,
    s.card_number AS cardNumber,
    f.remark
    FROM t_family AS f
    LEFT JOIN  t_family_student AS  fs ON f.id=fs.family_id
    LEFT JOIN t_student AS s ON fs.student_id = s.id
    <where>
    <if test="familyQueryDto.schoolId != null and familyQueryDto.schoolId!=''">
     AND f.school_id=#{familyQueryDto.schoolId,jdbcType=BIGINT}
    </if>
    <if test="familyQueryDto.name != null and familyQueryDto.name!=''">
      AND f.name LIKE  CONCAT(CONCAT('%', #{familyQueryDto.name,jdbcType=VARCHAR}), '%')
    </if>
    <if test="familyQueryDto.activate != null and familyQueryDto.activate!=''">
      AND f.activate=#{familyQueryDto.activate,jdbcType=TINYINT}
    </if>
    <if test="familyQueryDto.stuName != null and familyQueryDto.stuName!=''">
      AND s.`name` LIKE  CONCAT(CONCAT('%', #{familyQueryDto.stuName,jdbcType=VARCHAR}), '%');
    </if>
    </where>
  </select>

</mapper>