<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.user.persistence.FamilyMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.user.entity.Family">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="school_id" jdbcType="BIGINT" property="schoolId" />
    <result column="school_code" jdbcType="VARCHAR" property="schoolCode" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="birth" jdbcType="CHAR" property="birth" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="qq_number" jdbcType="VARCHAR" property="qqNumber" />
    <result column="wx_number" jdbcType="VARCHAR" property="wxNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="image" jdbcType="VARCHAR" property="image" />
      <result column="image_name" jdbcType="VARCHAR" property="imageName" />
    <result column="nation_name" jdbcType="VARCHAR" property="nationName" />
    <result column="adress" jdbcType="VARCHAR" property="adress" />
    <result column="physical_number" jdbcType="VARCHAR" property="physicalNumber" />
    <result column="physical_chip_number" jdbcType="VARCHAR" property="physicalChipNumber" />
    <result column="activate" jdbcType="TINYINT" property="activate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

    <sql id="familyColumn">
        id,school_id,school_code,school_name,name,gender,birth,phone,card_number,idcard,
        qq_number,wx_number,email,image,nation_name,adress,physical_number,physical_chip_number,
        activate,create_date,update_date,operator,operator_name,remark,image_name
    </sql>
    <!-- 查询所有家长数据 -->
<select id="selectAllFamilyInfo" resultMap="BaseResultMap">
    select <include refid="familyColumn"/> from t_family
    <where>
        <if test="familyQueryDto.schoolName!=null and familyQueryDto.schoolName!=''">
        AND school_name=#{familyQueryDto.schoolName}
        </if>
        <if test="familyQueryDto.name!=null and familyQueryDto.name!=''">
            AND name=#{familyQueryDto.name}
        </if>
        <if test="familyQueryDto.phone!=null and familyQueryDto.phone!=''">
            AND phone=#{familyQueryDto.phone}
        </if>
        <if test="familyQueryDto.activate!=null and familyQueryDto.activate!=''">
            AND activate=#{familyQueryDto.activate}
        </if>
        <if test="familyQueryDto.cardNumber!=null and familyQueryDto.cardNumber!=''">
            AND card_number=#{familyQueryDto.cardNumber}
        </if>
    </where>
</select>

    <!-- 根据条件查询出家长详细信息 -->
     <select id="selectByCodeAndCard" resultType="com.bdxh.user.vo.FamilyVo" parameterType="String">
        SELECT
         id,
         `name` AS `name`,
         gender AS fGender,
         phone,
         image,
         birth,
         remark,
         school_code AS schoolCode,
         card_number AS cardNumber,
         create_date AS createDate
        FROM t_family
        where school_code=#{schoolCode}
           and card_number=#{cardNumber}
     </select>

    <!-- 删除家长信息-->
    <delete id="removeFamilyInfo">
     DELETE FROM t_family
     WHERE school_code=#{schoolCode}
     AND card_number=#{cardNumber}
    </delete>
    <!--  修改家长信息     -->
    <update id="updateFamilyInfo">
        UPDATE t_family
        SET
        <if test="familyDto.name!=null and familyDto.name!=''">
            `name`=#{familyDto.name},
        </if>
        <if test="familyDto.gender!=0">
            `gender`=#{familyDto.gender},
        </if>
        <if test="familyDto.birth!=null and familyDto.birth!=''">
            `birth`=#{familyDto.birth},
        </if>
        <if test="familyDto.phone!=null and familyDto.phone!=''">
            phone=#{familyDto.phone},
        </if>
        <if test="familyDto.idcard!=null and familyDto.idcard!=''">
            `idcard`=#{familyDto.idcard},
        </if>
        <if test="familyDto.qqNumber!=null and familyDto.qqNumber!=''">
            `qq_number`=#{familyDto.qqNumber},
        </if>
        <if test="familyDto.wxNumber!=null and familyDto.wxNumber!=''">
            `wx_number`=#{familyDto.wxNumber},
        </if>
        <if test="familyDto.email!=null and familyDto.email!=''">
            `email`=#{familyDto.email},
        </if>
        <if test="familyDto.image!=null and familyDto.image!=''">
            `image`=#{familyDto.image},
        </if>
        <if test="familyDto.nationName!=null and familyDto.nationName!=''">
            `nation_name`=#{familyDto.nationName},
        </if>
        <if test="familyDto.adress!=null and familyDto.adress!=''">
            `adress`=#{familyDto.adress},
        </if>
        <if test="familyDto.physicalNumber!=null and familyDto.physicalNumber!=''">
            `physical_number`=#{familyDto.physicalNumber},
        </if>
        <if test="familyDto.physicalChipNumber!=null and familyDto.physicalChipNumber!=''">
            `physical_chip_number`=#{familyDto.physicalChipNumber},
        </if>
        <if test="familyDto.activate!=0">
            `activate`=#{familyDto.activate},
        </if>
        <if test="familyDto.operator!=null and familyDto.operator!=''">
            `operator`=#{familyDto.operator},
        </if>
        <if test="familyDto.operatorName!=null and familyDto.operatorName!=''">
            `operator_name`=#{familyDto.operatorName},
        </if>
        <if test="familyDto.remark!=null and familyDto.remark!=''">
            `remark`=#{familyDto.remark},
        </if>
            `update_date`=NOW()
         WHERE `school_code`=#{familyDto.schoolCode} AND card_number=#{familyDto.cardNumber};
    </update>




</mapper>