<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.user.persistence.FamilyStudentMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.user.entity.FamilyStudent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="school_id" jdbcType="BIGINT" property="schoolId" />
    <result column="school_code" jdbcType="CHAR" property="schoolCode" />
    <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
    <result column="family_id" jdbcType="BIGINT" property="familyId" />
    <result column="student_id" jdbcType="BIGINT" property="studentId" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="relation" jdbcType="VARCHAR" property="relation" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <update id="updateFamilyStudentInfo" >
   UPDATE
   `bdxh_user`.`t_family_student`
   SET
   `id`='1',
   `school_id`='1',
   `school_code`='001',
   `card_number`='001001001',
   `family_id`='1',
   `student_name`='张三',
   `update_date`=NOW(),
   `operator`=NULL,
   `operator_name`=NULL,
   `remark`=NULL WHERE (`student_id`='552572960829865984');

  </update>
</mapper>