<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.user.persistence.StudentMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.user.entity.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="school_id" jdbcType="BIGINT" property="schoolId" />
    <result column="school_code" jdbcType="VARCHAR" property="schoolCode" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="campus_name" jdbcType="VARCHAR" property="campusName" />
    <result column="college_name" jdbcType="VARCHAR" property="collegeName" />
    <result column="faculty_name" jdbcType="VARCHAR" property="facultyName" />
    <result column="profession_name" jdbcType="VARCHAR" property="professionName" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="class_id" jdbcType="BIGINT" property="classId" />
    <result column="class_ids" jdbcType="VARCHAR" property="classIds" />
    <result column="class_names" jdbcType="VARCHAR" property="classNames" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="birth" jdbcType="CHAR" property="birth" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="qq_number" jdbcType="VARCHAR" property="qqNumber" />
    <result column="wx_number" jdbcType="VARCHAR" property="wxNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="nation_name" jdbcType="VARCHAR" property="nationName" />
    <result column="dormitory_address" jdbcType="VARCHAR" property="dormitoryAddress" />
    <result column="adress" jdbcType="VARCHAR" property="adress" />
    <result column="physical_number" jdbcType="VARCHAR" property="physicalNumber" />
    <result column="physical_chip_number" jdbcType="VARCHAR" property="physicalChipNumber" />
    <result column="activate" jdbcType="TINYINT" property="activate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <resultMap id="StudentVoMap" type="com.bdxh.user.vo.StudentVo">
    <id column="id" jdbcType="BIGINT" property="sId" />
    <result column="sName" jdbcType="VARCHAR" property="sName" />
    <result column="cardNumber" jdbcType="VARCHAR" property="cardNumber" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="campusName" jdbcType="VARCHAR" property="campusName" />
    <result column="collegeName" jdbcType="VARCHAR" property="collegeName" />
    <result column="facultyName" jdbcType="VARCHAR" property="facultyName" />
    <result column="professionName" jdbcType="VARCHAR" property="professionName" />
    <result column="gradeName" jdbcType="VARCHAR" property="gradeName" />
    <result column="fName" jdbcType="VARCHAR" property="fName" />
    <result column="fPhone" jdbcType="VARCHAR" property="fPhone" />
    <result column="relation" jdbcType="VARCHAR" property="relation" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createDate" jdbcType="VARCHAR" property="createDate" />
    <result column="className" jdbcType="VARCHAR" property="className" />
    <result column="classId" jdbcType="BIGINT" property="classId" />
    <result column="schoolCode" jdbcType="VARCHAR" property="schoolCode" />
  </resultMap>
</mapper>