<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.user.persistence.StudentMapper">
    <resultMap id="BaseResultMap" type="com.bdxh.user.entity.Student">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="campus_name" jdbcType="VARCHAR" property="campusName"/>
        <result column="college_name" jdbcType="VARCHAR" property="collegeName"/>
        <result column="faculty_name" jdbcType="VARCHAR" property="facultyName"/>
        <result column="profession_name" jdbcType="VARCHAR" property="professionName"/>
        <result column="grade_name" jdbcType="VARCHAR" property="gradeName"/>
        <result column="class_name" jdbcType="VARCHAR" property="className"/>
        <result column="class_id" jdbcType="BIGINT" property="classId"/>
        <result column="class_ids" jdbcType="VARCHAR" property="classIds"/>
        <result column="class_names" jdbcType="VARCHAR" property="classNames"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="birth" jdbcType="CHAR" property="birth"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
        <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
        <result column="qq_number" jdbcType="VARCHAR" property="qqNumber"/>
        <result column="wx_number" jdbcType="VARCHAR" property="wxNumber"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="image_name" jdbcType="VARCHAR" property="imageName"/>
        <result column="nation_name" jdbcType="VARCHAR" property="nationName"/>
        <result column="dormitory_address" jdbcType="VARCHAR" property="dormitoryAddress"/>
        <result column="adress" jdbcType="VARCHAR" property="adress"/>
        <result column="physical_number" jdbcType="VARCHAR" property="physicalNumber"/>
        <result column="physical_chip_number" jdbcType="VARCHAR" property="physicalChipNumber"/>
        <result column="activate" jdbcType="TINYINT" property="activate"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="studentCloumn">
     id,school_id,school_code,school_name,campus_name,college_name,faculty_name,profession_name,
     grade_name,class_name,class_id,class_ids,class_names,name,gender,birth,phone,card_number,idcard,
     qq_number,wx_number,email,image,nation_name,dormitory_address,adress,physical_number,physical_chip_number,
     activate,create_date,update_date,operator,operator_name,remark,image_name
    </sql>
    <!-- -->
    <select id="selectAllStudentInfo" resultMap="BaseResultMap">
        select
        <include refid="studentCloumn"/>
        from t_student
        <where>
            <if test="studentQueryDto.schoolName!=null and studentQueryDto.schoolName!=''">
                AND school_name=#{studentQueryDto.schoolName}
            </if>
            <if test="studentQueryDto.name!=null and studentQueryDto.name!=''">
                AND `name`=#{studentQueryDto.name}
            </if>
            <if test="studentQueryDto.phone!=null and studentQueryDto.phone!=''">
                AND phone=#{studentQueryDto.phone}
            </if>
            <if test="studentQueryDto.cardNumber!=null and studentQueryDto.cardNumber!=''">
                AND card_number=#{studentQueryDto.cardNumber}
            </if>
            <if test="studentQueryDto.activate!=null and studentQueryDto.activate!=''">
                AND activate=#{studentQueryDto.activate}
            </if>
            <if test="studentQueryDto.schoolCode!=null and studentQueryDto.schoolCode!=''">
                AND school_code=#{studentQueryDto.schoolCode}
            </if>
            <if test="studentQueryDto.classIds!=null and studentQueryDto.classIds!=''">
                AND class_ids like CONCAT(#{studentQueryDto.classIds},'%')
            </if>
        </where>
        order by create_date desc
    </select>
    <!-- 删除学生信息-->
    <delete id="removeStudentInfo">
     DELETE FROM t_student
     WHERE school_code=#{schoolCode}
     AND card_number=#{cardNumber}
    </delete>
    <!-- 查询单个学生信息 -->
    <select id="selectStudentVo" resultType="com.bdxh.user.vo.StudentVo" parameterType="String">
         SELECT
            id AS sId,
            school_id AS schoolId,
            school_code AS schoolCode,
            school_name AS schoolName,
            campus_name AS campusName,
            college_name AS collegeName,
            faculty_name AS facultyName,
            profession_name AS professionName,
            grade_name AS gradeName,
            class_name AS className,
            class_id AS classId,
            class_ids AS classIds,
            class_names AS classNames,
            `name` AS sName,
            gender,
            birth,
            phone,
            card_number AS cardNumber,
            idcard,
            qq_number AS qqNumber,
            wx_number AS wxNumber,
            email,
            image,
            image_name AS imageName,
            nation_name AS nationName,
            dormitory_address AS dormitoryAddress,
            adress,
            physical_number AS physicalNumber,
            physical_chip_number AS physicalChipNumber,
            activate,
            create_date AS createDate,
            update_date AS updateDate,
            operator,
            operator_name AS operatorName,
            remark
        FROM
            t_student
        WHERE
         school_code = #{schoolCode}
     and card_number = #{cardNumber}
</select>
    <update id="updateStudentInfo">
        UPDATE `t_student`
        SET
        <if test="studentDto.campusName!=null and studentDto.campusName!=''">
            `campus_name`=#{studentDto.campusName},
        </if>

        <if test="studentDto.classId!=null and studentDto.className!=''">
            `class_id`=#{studentDto.classId},
        </if>
        <if test="studentDto.classIds!=null and studentDto.classIds!=''">
            `class_ids`=#{studentDto.classIds},
        </if>
        <if test="studentDto.classNames!=null and studentDto.classNames!=''">
            `class_names`=#{studentDto.classNames},
        </if>
        <if test="studentDto.name!=null and studentDto.name!=''">
            `name`=#{studentDto.name},
        </if>
        <if test="studentDto.gender!=0">
            `gender`=#{studentDto.gender},
        </if>
        <if test="studentDto.birth!=null and studentDto.birth!=''">
            `birth`=#{studentDto.birth},
        </if>
        <if test="studentDto.phone!=null and studentDto.phone!=''">
            `phone`=#{studentDto.phone},
        </if>
        <if test="studentDto.idcard!=null and studentDto.idcard!=''">
            `idcard`=#{studentDto.idcard},
        </if>
        <if test="studentDto.qqNumber!=null and studentDto.qqNumber!=''">
            `qq_number`=#{studentDto.qqNumber},
        </if>
        <if test="studentDto.wxNumber!=null and studentDto.wxNumber!=''">
            `wx_number`=#{studentDto.wxNumber},
        </if>
        <if test="studentDto.email!=null and studentDto.email!=''">
            `email`=#{studentDto.email},
        </if>
        <if test="studentDto.image!=null and studentDto.image!=''">
            `image`=#{studentDto.image},
        </if>
        <if test="studentDto.imageName!=null and studentDto.imageName!=''">
            `image_name`=#{studentDto.imageName},
        </if>
        <if test="studentDto.nationName!=null and studentDto.nationName!=''">
            `nation_name`=#{studentDto.nationName},
        </if>
        <if test="studentDto.dormitoryAddress!=null and studentDto.dormitoryAddress!=''">
            `dormitory_address`=#{studentDto.dormitoryAddress},
        </if>
        <if test="studentDto.adress!=null and studentDto.adress!=''">
            `adress`=#{studentDto.adress},
        </if>
        <if test="studentDto.physicalNumber!=null and studentDto.physicalNumber!=''">
            `physical_number`=#{studentDto.physicalNumber},
        </if>
        <if test="studentDto.physicalChipNumber!=null and studentDto.physicalChipNumber!=''">
            `physical_chip_number`=#{studentDto.physicalChipNumber},
        </if>
        <if test="studentDto.activate!=0">
            `activate`=#{studentDto.activate},
        </if>
        <if test="studentDto.operator!=null and studentDto.operator!=''">
            `operator`=#{studentDto.operator},
        </if>
        <if test="studentDto.operatorName!=null and studentDto.operatorName!=''">
            `operator_name`=#{studentDto.operatorName},
        </if>
        <if test="studentDto.remark!=null and studentDto.remark!=''">
            `remark`=#{studentDto.remark},
        </if>
        `college_name`=#{studentDto.collegeName},
        `faculty_name`=#{studentDto.facultyName},
        `profession_name`=#{studentDto.professionName},
        `grade_name`=#{studentDto.gradeName},
        `class_name`=#{studentDto.className},
        `update_date`=NOW()
        WHERE `school_code`=#{studentDto.schoolCode} AND `card_number`=#{studentDto.cardNumber};
    </update>

    <select id="findStudentBySchoolClassId" resultMap="BaseResultMap">
        SELECT
        <include refid="studentCloumn"/>
        FROM t_student
        WHERE `school_code`=#{schoolCode,jdbcType=VARCHAR}
        AND `school_id`=#{schoolId,jdbcType=BIGINT}
        AND `class_id`=#{classId,jdbcType=BIGINT}
        limit 1;
    </select>
</mapper>