<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.user.persistence.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.user.entity.Teacher">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="school_id" jdbcType="BIGINT" property="schoolId" />
    <result column="school_code" jdbcType="VARCHAR" property="schoolCode" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="campus_name" jdbcType="VARCHAR" property="campusName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="birth" jdbcType="CHAR" property="birth" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="qq_number" jdbcType="VARCHAR" property="qqNumber" />
    <result column="wx_number" jdbcType="VARCHAR" property="wxNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="nation_name" jdbcType="VARCHAR" property="nationName" />
    <result column="dormitory_address" jdbcType="VARCHAR" property="dormitoryAddress" />
    <result column="adress" jdbcType="VARCHAR" property="adress" />
    <result column="physical_number" jdbcType="VARCHAR" property="physicalNumber" />
    <result column="physical_chip_number" jdbcType="VARCHAR" property="physicalChipNumber" />
    <result column="activate" jdbcType="TINYINT" property="activate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>



  <!--删除老师信息-->
  <delete id="deleteTeacher">
    delete from t_teacher
    where school_code=#{schoolCode}
    and card_number=#{cardNumber}
  </delete>

    <!-- 查询出某个老师的详细信息-->
    <select id="selectTeacherDetails" resultMap="BaseResultMap">
    SELECT *  FROM t_teacher where school_code=#{schoolCode} and card_number=#{cardNumber}
    </select>

  <!-- 修改老师信息 -->
  <update id="updateTeacher">
      UPDATE `t_teacher`
    SET
    <if test="updateTeacherDto.schoolName!=null and updateTeacherDto.schoolName!=''">
      `school_name`=#{updateTeacherDto.schoolName},
    </if>
    <if test="updateTeacherDto.campusName!=null and updateTeacherDto.campusName!=''">
      `campus_name`=#{updateTeacherDto.campusName},
    </if>
    <if test="updateTeacherDto.name!=null and updateTeacherDto.name!=''">
      `name`=#{updateTeacherDto.name},
    </if>
    <if test="updateTeacherDto.gender!=null and updateTeacherDto.gender!=''">
      `gender`=#{updateTeacherDto.gender},
    </if>
    <if test="updateTeacherDto.birth!=null and updateTeacherDto.birth!=''">
       `birth`=#{updateTeacherDto.birth},
    </if>
    <if test="updateTeacherDto.position!=null and updateTeacherDto.position!=''">
      `position`=#{updateTeacherDto.position},
    </if>
    <if test="updateTeacherDto.phone!=null and updateTeacherDto.phone!=''">
      `phone`=#{updateTeacherDto.phone},
    </if>
    <if test="updateTeacherDto.idcard!=null and updateTeacherDto.idcard!=''">
      `idcard`=#{updateTeacherDto.idcard},
    </if>
    <if test="updateTeacherDto.qqNumber!=null and updateTeacherDto.qqNumber!=''">
     `qq_number`=#{updateTeacherDto.qqNumber},
    </if>
    <if test="updateTeacherDto.wxNumber!=null and updateTeacherDto.wxNumber!=''">
      `wx_number`=#{updateTeacherDto.wxNumber},
    </if>
    <if test="updateTeacherDto.email!=null and updateTeacherDto.email!=''">
      `email`=#{updateTeacherDto.email},
    </if>
    <if test="updateTeacherDto.image!=null and updateTeacherDto.image!=''">
      `image`=#{updateTeacherDto.image},
    </if>
    <if test="updateTeacherDto.nationName!=null and updateTeacherDto.nationName!=''">
      `nation_name`=#{updateTeacherDto.nationName},
    </if>
    <if test="updateTeacherDto.dormitoryAddress!=null and updateTeacherDto.dormitoryAddress!=''">
      `dormitory_address`=#{updateTeacherDto.dormitoryAddress},
    </if>
    <if test="updateTeacherDto.adress!=null and updateTeacherDto.adress!=''">
      `adress`=#{updateTeacherDto.adress},
    </if>
    <if test="updateTeacherDto.physicalNumber!=null and updateTeacherDto.physicalNumber!=''">
      `physical_number`=#{updateTeacherDto.physicalNumber},
    </if>
    <if test="updateTeacherDto.physicalChipNumber!=null and updateTeacherDto.physicalChipNumber!=''">
      `physical_chip_number`=#{updateTeacherDto.physicalChipNumber},
    </if>
    <if test="updateTeacherDto.activate!=null and updateTeacherDto.activate!=''">
      `activate`=#{updateTeacherDto.activate},
    </if>
    <if test="updateTeacherDto.operator!=null and updateTeacherDto.operator!=''">
      `operator`=#{updateTeacherDto.operator},
    </if>
    <if test="updateTeacherDto.operatorName!=null and updateTeacherDto.operatorName!=''">
      `operator_name`=#{updateTeacherDto.operatorName},
    </if>
    <if test="updateTeacherDto.remark!=null and updateTeacherDto.remark!=''">
      `remark`=#{updateTeacherDto.remark},
    </if>
    `update_date`=now()
     WHERE
    `school_code`=#{updateTeacherDto.schoolCode} and `card_number`=#{updateTeacherDto.cardNumber}
      </update>
</mapper>