<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.product.persistence.ProductMapper">
    <resultMap id="BaseResultMap" type="com.bdxh.product.entity.Product">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_show_name" jdbcType="VARCHAR" property="productShowName"/>
        <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
        <result column="product_sell_price" jdbcType="DECIMAL" property="productSellPrice"/>
        <result column="product_description" jdbcType="VARCHAR" property="productDescription"/>
        <result column="product_type" jdbcType="TINYINT" property="productType"/>
        <result column="sell_status" jdbcType="TINYINT" property="sellStatus"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="video_url" jdbcType="VARCHAR" property="videoUrl"/>
        <result column="business_type" jdbcType="TINYINT" property="businessType"/>
        <result column="product_extra" jdbcType="VARCHAR" property="productExtra"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <resultMap id="ProductDetailsMap" type="com.bdxh.product.vo.ProductDetailsVo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="productName" jdbcType="VARCHAR" property="productName"/>
        <result column="productShowName" jdbcType="VARCHAR" property="productShowName"/>
        <result column="productPrice" jdbcType="DECIMAL" property="productPrice"/>
        <result column="productSellPrice" jdbcType="DECIMAL" property="productSellPrice"/>
        <result column="productDescription" jdbcType="VARCHAR" property="productDescription"/>
        <result column="productType" jdbcType="TINYINT" property="productType"/>
        <result column="sellStatus" jdbcType="TINYINT" property="sellStatus"/>
        <result column="videoUrl" jdbcType="VARCHAR" property="videoUrl"/>
        <result column="businessType" jdbcType="TINYINT" property="businessType"/>
        <result column="productExtra" jdbcType="VARCHAR" property="productChildIds"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operatorName" jdbcType="VARCHAR" property="operatorName"/>
        <result column="createDate" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <collection property="image" ofType="com.bdxh.product.entity.ProductImage">
            <id column="id1" jdbcType="BIGINT" property="id"/>
            <result column="productId1" jdbcType="BIGINT" property="productId"/>
            <result column="imageUrl1" jdbcType="VARCHAR" property="imageUrl"/>
            <result column="imageName1" jdbcType="VARCHAR" property="imageName"/>
            <result column="imgType1" jdbcType="TINYINT" property="imgType"/>
            <result column="sort1" jdbcType="TINYINT" property="sort"/>
        </collection>
        <collection property="detailsImages" ofType="com.bdxh.product.entity.ProductImage">
            <id column="id2" jdbcType="BIGINT" property="id"/>
            <result column="productId2" jdbcType="BIGINT" property="productId"/>
            <result column="imageUrl2" jdbcType="VARCHAR" property="imageUrl"/>
            <result column="imageName2" jdbcType="VARCHAR" property="imageName"/>
            <result column="imgType2" jdbcType="TINYINT" property="imgType"/>
            <result column="sort2" jdbcType="TINYINT" property="sort"/>
        </collection>
    </resultMap>

    <sql id="BaseColumns">
    id, product_name, product_show_name, product_price, product_sell_price, product_description, product_type, sell_status,
    img_url, business_type, product_extra, create_date, update_date, remark ,operator,operator_name
  </sql>

    <select id="findProduct" resultMap="BaseResultMap">
        select
        <include refid="BaseColumns"/>
        from t_product
        <where>
            <if test="productShowName != null and productShowName != ''">
                AND product_show_name LIKE CONCAT(CONCAT('%',#{productShowName}),'%')
            </if>
            <if test="productName != null and productName != ''">
                AND product_name LIKE CONCAT(CONCAT('%',#{productName}),'%')
            </if>
            <if test="productType !=null and productType !=''">
                AND product_type=#{productType}
            </if>
            <if test="sellStatus !=null and sellStatus !=''">
                AND sell_status=#{sellStatus}
            </if>
            <if test="businessType !=null and businessType !=''">
                AND business_type=#{businessType}
            </if>
        </where>
        order by update_date desc
    </select>
    <!--查询商品的详情信息-->

    <select id="findProductDetails" resultMap="ProductDetailsMap" parameterType="java.lang.Long">
    SELECT
        product.id AS id,
        product.product_name AS productName,
        product.product_show_name AS productShowName,
        product.product_price AS productPrice,
        product.product_sell_price AS productSellPrice,
        product.product_description AS productDescription,
        product.product_type AS productType,
        product.sell_status AS sellStatus,
        product.business_type AS businessType,
        product.product_extra AS productExtra,
        product.operator AS operator,
        product.operator_name AS operatorName,
        product.create_date AS createDate,
        product.update_date AS updateDate,
        product.remark AS remark,
        product.video_url AS videoUrl,
        image.id AS id1,
        image.sort AS sort1,
        image.image_url AS imageUrl1,
        image.product_id AS productId1,
        image.img_type AS imgType1,
        image.image_name AS imageName1,
        detailsImages.id AS id2,
        detailsImages.sort AS sort2,
        detailsImages.image_url AS imageUrl2,
        detailsImages.product_id AS productId2,
        detailsImages.img_type AS imgType2,
        detailsImages.image_name AS imageName2
    FROM
        t_product AS product
    LEFT JOIN t_product_image AS image ON image.product_id = product.id AND image.img_type= '1'
    LEFT JOIN t_product_image AS detailsImages ON detailsImages.product_id = product.id AND detailsImages.img_type= '2'
    WHERE
        product.id = #{id}
    ORDER BY sort1
  </select>


    <!--添加商品信息-->
    <insert id="insertProduct" useGeneratedKeys="true" keyProperty="id" parameterType="com.bdxh.product.entity.Product">
        INSERT INTO t_product (
        product_name,
        product_show_name,
        product_price,
        product_sell_price,
        product_description,
        product_type,
        sell_status,
        img_url,
        video_url,
        business_type,
        product_extra,
        operator,
        operator_name,
        remark
    )
    VALUES
        (
            #{productName},
            #{productShowName},
            #{productPrice},
            #{productSellPrice},
            #{productDescription},
            #{productType},
            #{sellStatus},
            #{imgUrl},
            #{videoUrl},
            #{businessType},
            #{productExtra},
            #{operator},
            #{operatorName},
            #{remark}
         );
</insert>
    <select id="findProductByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1) from t_product
        where product_name=#{productName}
    </select>

    <select id="findProductByIds" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseColumns"/>
        from t_product where id in
        <foreach item="id" index="index" collection="productIds.split(',')" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>