<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.school.persistence.SchoolDeviceMapper">

    <resultMap id="BaseResultMap" type="com.bdxh.school.entity.SchoolDevice">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="device_type" jdbcType="TINYINT" property="deviceType"/>
        <result column="device_type_name" jdbcType="VARCHAR" property="deviceTypeName"/>
        <result column="device_brand" jdbcType="VARCHAR" property="deviceBrand"/>
        <result column="device_model" jdbcType="VARCHAR" property="deviceModel"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="device_address" jdbcType="VARCHAR" property="deviceAddress"/>
        <result column="device_ip" jdbcType="VARCHAR" property="deviceIp"/>
        <result column="device_status" jdbcType="TINYINT" property="deviceStatus"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="BaseColumns">
	  id,school_id,school_code,device_id,device_type,device_type_name,device_brand,device_model,device_name,device_address,device_ip,device_status,create_date,update_date,operator,operator_name,remark
	</sql>
    <select id="getSchoolDeviceAllCount" resultType="Integer">
	  SELECT 
	   COUNT(1)
	  FROM t_school_device 
	</select>

    <delete id="delSchoolDeviceInIds" parameterType="Integer">
        DELETE
        FROM t_school_device
        WHERE
        id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id, jdbcType = BIGINT}
        </foreach>
    </delete>

    <select id="findSchoolDeviceInConditionPage" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_school_device
        <where>
            <if test="device.schoolId !=null">
                school_id= #{device.schoolId,jdbcType=BIGINT}
            </if>
            <if test="device.schoolCode !=null and device.schoolCode !=''">
               AND school_code like CONCAT(CONCAT('%',#{device.schoolCode,jdbcType=VARCHAR}),'%')
            </if>
            <if test="device.deviceId !=null and device.deviceId!=''">
                AND device_id like CONCAT(CONCAT('%',#{device.deviceId,jdbcType=VARCHAR}),'%')
            </if>
            <if test="device.deviceName !=null and device.deviceName!=''">
                AND device_name like CONCAT(CONCAT('%',#{device.deviceName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="device.deviceAddress !=null and device.deviceAddress!=''">
                AND device_address like CONCAT(CONCAT('%',#{device.deviceAddress,jdbcType=VARCHAR}),'%')
            </if>
            <if test="device.deviceStatus !=null">
                AND device_status =#{device.deviceStatus,jdbcType=TINYINT}
            </if>
        </where>
        Order BY create_date DESC
    </select>
    <select id="findSchoolDeviceByIdOnModel" resultType="com.bdxh.school.entity.SchoolDevice">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_school_device
        WHERE
        device_id=#{deviceId,jdbcType=VARCHAR}
        AND
        device_model=#{deviceModel,jdbcType=VARCHAR}
        limit 1
    </select>

</mapper>
