<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.school.persistence.SchoolDeviceMapper">

    <resultMap id="BaseResultMap" type="com.bdxh.school.entity.SchoolDevice">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="device_type" jdbcType="TINYINT" property="deviceType"/>
        <result column="device_type_name" jdbcType="VARCHAR" property="deviceTypeName"/>
        <result column="device_brand" jdbcType="VARCHAR" property="deviceBrand"/>
        <result column="device_model" jdbcType="VARCHAR" property="deviceModel"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="device_address" jdbcType="VARCHAR" property="deviceAddress"/>
        <result column="device_ip" jdbcType="VARCHAR" property="deviceIp"/>
        <result column="device_status" jdbcType="TINYINT" property="deviceStatus"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!--列表展示resultMap -->
    <resultMap id="BaseResultMap1" type="com.bdxh.school.vo.SchoolDeviceShowVo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="device_type" jdbcType="TINYINT" property="deviceType"/>
        <result column="device_type_name" jdbcType="VARCHAR" property="deviceTypeName"/>
        <result column="device_brand" jdbcType="VARCHAR" property="deviceBrand"/>
        <result column="device_model" jdbcType="VARCHAR" property="deviceModel"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="device_address" jdbcType="VARCHAR" property="deviceAddress"/>
        <result column="device_ip" jdbcType="VARCHAR" property="deviceIp"/>
        <result column="device_status" jdbcType="TINYINT" property="deviceStatus"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>

        <!--扩展字段-->
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
    </resultMap>

    <sql id="BaseColumns">
	  id,school_id,school_code,device_id,device_type,device_type_name,device_brand,device_model,device_name,device_address,device_ip,device_status,create_date,update_date,operator,operator_name,remark
	</sql>
    <sql id="BaseColumns1">
	  device.id,device.school_id,device.school_code,
	  device.device_id,device.device_type,device.device_type_name,
	  device.device_brand,device.device_model,device.device_name,
	  device.device_address,device.device_ip,device.device_status,
	  device.create_date,device.update_date,device.operator,device.operator_name,
	  device.remark,school.school_name
	</sql>
    <sql id="BaseColumns2">
	  td.id,td.school_id,td.school_code,td.device_id,td.device_type,td.device_type_name,td.device_brand,td.device_model,td.device_name,td.device_address,td.device_ip,td.device_status,td.create_date,td.update_date,td.operator,td.operator_name,td.remark
	</sql>
    <select id="getSchoolDeviceAllCount" resultType="Integer">
	  SELECT 
	   COUNT(1)
	  FROM t_school_device 
	</select>

    <delete id="delSchoolDeviceInIds" parameterType="Integer">
        DELETE
        FROM t_school_device
        WHERE
        id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id, jdbcType = BIGINT}
        </foreach>
    </delete>

    <select id="findSchoolDeviceInConditionPage" resultMap="BaseResultMap1">
        SELECT
        <include refid="BaseColumns1"/>
        FROM t_school_device device
        INNER JOIN t_school school ON device.school_id=school.id
        <where>
            <if test="device.schoolId !=null">
                device.school_id= #{device.schoolId,jdbcType=BIGINT}
            </if>
            <if test="device.schoolCode !=null and device.schoolCode !=''">
                AND device.school_code like CONCAT(CONCAT('%',#{device.schoolCode,jdbcType=VARCHAR}),'%')
            </if>
            <if test="device.deviceId !=null and device.deviceId!=''">
                AND device.device_id like CONCAT(CONCAT('%',#{device.deviceId,jdbcType=VARCHAR}),'%')
            </if>
            <if test="device.deviceName !=null and device.deviceName!=''">
                AND device.device_name like CONCAT(CONCAT('%',#{device.deviceName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="device.deviceAddress !=null and device.deviceAddress!=''">
                AND device.device_address like CONCAT(CONCAT('%',#{device.deviceAddress,jdbcType=VARCHAR}),'%')
            </if>
            <if test="device.deviceStatus !=null">
                AND device.device_status =#{device.deviceStatus,jdbcType=TINYINT}
            </if>
        </where>
        Order BY device.create_date DESC
    </select>
    <select id="findSchoolDeviceByIdOnModel" resultType="com.bdxh.school.entity.SchoolDevice">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_school_device
        <where>
            <if test="deviceId !=null and deviceId !=''">
                device_id=#{deviceId,jdbcType=VARCHAR}
            </if>
            <if test="deviceModel !=null and deviceModel !=''">
                AND device_model=#{deviceModel,jdbcType=VARCHAR}
            </if>
        </where>
        limit 1
    </select>

    <!--查询单个学校的消费机-->
    <select id="findSchoolPosDeviceBySchool" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_school_device
        <where>
            <if test="posDevice.schoolCode!=null and posDevice.schoolCode!=''">
                AND school_code = #{posDevice.schoolCode}
            </if>
            <if test="posDevice.deviceId!=null and posDevice.deviceId!=''">
                AND device_id = #{posDevice.deviceId}
            </if>
            <if test="posDevice.deviceName!=null and posDevice.deviceName!=''">
                AND device_name LIKE CONCAT('%',#{posDevice.deviceName},'%')
            </if>
            <if test="posDevice.deviceType!=null ">
                AND device_type = #{posDevice.deviceType}
            </if>
        </where>
        Order BY create_date DESC
    </select>

    <!--根据收费部门id查询下面的消费机列表-->
    <select id="querySchoolPosDeviceByChargeDept" resultMap="BaseResultMap">
        SELECT
	    <include refid="BaseColumns2"/>
        FROM
	    t_school_device td
	    JOIN t_school_posdevice_charge tp ON td.id = tp.device_id
        WHERE
	    tp.charge_dept_id = #{deptId}
    </select>

</mapper>
