<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.wallet.persistence.WalletAccountRechargeMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.wallet.entity.WalletAccountRecharge">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="order_no" jdbcType="BIGINT" property="orderNo" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="third_order_no" jdbcType="VARCHAR" property="thirdOrderNo" />
    <result column="acceptseq" jdbcType="VARCHAR" property="acceptseq" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="recharge_money" jdbcType="DECIMAL" property="rechargeMoney" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <sql id="BaseColums">
    id, user_id, account_id, order_no, order_type, third_order_no, acceptseq, status, recharge_money, pay_time, create_date, update_date
  </sql>

  <select id="getByOrderNo" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="BaseColums"/>
    from wallet_account_recharge
    where order_no=#{orderNo}
  </select>

  <select id="getByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="BaseColums"/>
    from wallet_account_recharge
    <where>
      <if test="userId != null">
        user_id=#{userId}
      </if>
      <if test="orderNo !=null">
        order_no=#{orderNo}
      </if>
    </where>
  </select>
</mapper>